<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="People.Properties.Settings.DB_T1ConnectionString"
            connectionString="Data Source=HP-LAPTOP-NAVIN\SQLEXPRESS;Initial Catalog=DB_T1;Persist Security Info=True;User ID=sa;Password=sa123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>